# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Documentación personal
Archivos/

# ML Models (archivos grandes)
*.pkl
*.h5
*.joblib
*.onnx

# Datasets
*.csv
*.zip

# Documentos grandes
*.docx
*.pdf
